<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bluePrintCreated)="onBluePrintAdded($event)"
    ></app-cockpit>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
  <app-server-component
      *ngFor="let ele of serverElements"
      [serverComp]="ele">

      <p>
        <strong *ngIf="ele.type === 'server'" style="color: red">{{ ele.content }}</strong>
        <em *ngIf="ele.type === 'blueprint'">{{ ele.content }}</em>
      </p>

    </app-server-component>
    </div>
  </div>
</div>
